
version: '3.8'

services:
  words-cloud:
    image: ${DOCKER_IMAGE}
    container_name: words-cloud-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      # Принудительно задаем путь, чтобы он совпадал с volume, 
      # но если вы хотите переопределить через .env, можно закомментировать эту строку
      - DATABASE_URL=file:/app/prisma/data/prod.db
    volumes:
      # Маппинг папки с БД на хосте в контейнер
      - ./prisma/data:/app/prisma/data
